<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'userinfo', user: @user, book: @book %>

<h1>Books</h1>

<% @books.each do |book| %>

  <p><%= link_to book.title,book_path(book.id) %></p>
  <p><%= book.body %></p>

<% end %>